.header {
  background-color: rgb(255, 69, 0);
  color: white;
  display: flex;
  justify-content: space-between;
  height: 6vh;
  padding: 0 5vw;
}

.left {
  width: auto;
  border: 1px solid black;
  display: flex;
}

.right {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.hamburger-button {
  display: none;
}

.menu-buttons {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.mobile-menu-buttons {
  display: none;
}

@media (max-width: 640px) {
  .header {
    height: 7vh;
    padding: 0;
  }

  .hamburger-button {
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 4vw;
  }

  .menu-buttons {
    display: none;
  }
}
