.header {
  /* border: 1px solid black; */
  display: flex;
  background-color: rgb(255, 69, 0);
  padding: 0 5%;
}

.brand-name {
  color: white;
  padding: 0 1rem;
  text-decoration: none;
}

.brand-name-condensed {
  display: none;
}

.brand-name:hover {
  background-color: rgb(219, 58, 0);
}

@media (max-width: 640px) {
  .brand-name-full {
    display: none;
  }

  .brand-name-condensed {
    display: block;
  }

  .brand-name {
    padding: 0 1rem;
  }
}
