.review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review-heading {
  width: 100%;
}

.review-body {
  border: 2px solid #00274d;
  background-color: aliceblue;
  width: 100%;
  padding: 2vh 0;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-fields {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1vh;
}

.review-field {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1vh 0;
}

.review-field h4 {
  margin: 1vh 1vw;
}

.review-field p {
  margin: 0 1vw 1vh 1vw;
}

.review-buttons {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 640px) {
  .review-heading {
    text-align: center;
    padding: 0;
  }

  .review-heading h1 {
    margin: 2vh 0 0 0;
    font-size: 190%;
  }

  .review-body {
    border: none;
  }

  .review-body h3 {
    font-size: 100%;
    margin: 0 0 1vh 0;
  }

  .review-fields {
    width: 100%;
  }

  .review-field h4 {
    margin: 1vh 2vw;
  }

  .review-field p {
    margin: 0.5vh 2vw;
    font-size: 90%;
  }

  .review-buttons {
    width: 100%;
  }
}

@media (max-height: 560px) {
  .review-fields {
    width: 90%;
    padding-bottom: 1vh;
  }

  .review-field h4 {
    margin: 2vh 2vw;
  }

  .review-field p {
    margin: 1vh 2vw;
  }

  .review-buttons {
    width: 90%;
    margin-top: 1vh;
  }
}

@media (max-height: 280px) {
  .review-fields {
    padding-bottom: 2vh;
  }

  .review-field h4 {
    margin: 4vh 2vw;
  }

  .review-field p {
    margin: 2vh 2vw;
  }

  .review-buttons {
    margin: 2vh 0 1vh 0;
  }
}
