.contact-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1vh 0;
}

.contact-field label {
  margin-bottom: 0.5vh;
  font-weight: bold;
  letter-spacing: 1px;
}

.contact-field input {
  border: 1px solid #00274d7c;
  padding: 1.1vh 1vw 1vh 1vw;
  outline: none;
}

.contact-field textarea {
  border: 1px solid #00264d7c;
  white-space: pre-line;
  padding: 1vh 1vw;
  font-family: inherit;
  line-height: 2vh;
  outline: none;
}

.contact-field .contact-error {
  margin-top: 0.5vh;
  color: rgba(255, 0, 0, 0.76);
  font-size: small;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 640px) {
  .contact-field input,
  .contact-field textarea,
  .contact-field label {
    width: 100%;
  }

  .contact-field label {
    text-align: left;
  }

  .contact-field input,
  .contact-field textarea {
    padding: 1.5vh 2vw;
  }
}

@media (max-height: 560px) {
  .contact-field input {
    padding: 4vh 2vw 4vh 2vw;
    margin: 1vh 0;
  }

  .contact-field textarea {
    padding: 4vh 2vw;
    margin: 1vh 0 2vh 0;
    height: 40vh;
    line-height: 4vh;
  }
}

@media (max-height: 280px) {
  .contact-field input {
    padding: 8vh 2vw 8vh 2vw;
    margin: 2vh 0;
  }

  .contact-field textarea {
    padding: 8vh 2vw;
    margin: 2vh 0 4vh 0;
    height: 80vh;
    line-height: 8vh;
  }
}
