* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #00264d;
  /* background-color: rgb(216, 236, 253); */
}

.container {
  margin: 0;
  padding: 0;
}

@media (max-width: 640px) {
  body {
    background-color: aliceblue;
  }
}
