* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #00264d;
}

.container {
  /* border: 1px solid black; */
  margin: 0 5vw 2vh 5vw;
}

@media (max-width: 640px) {
  body {
    background-color: aliceblue;
  }
}
