#brand-button i {
  padding-right: 1vh;
}

@media (max-width: 640px) {
  #brand-button {
    /* border: 1px solid black; */
    padding: 4vw;
  }

  #brand-button:hover {
    background-color: rgb(255, 69, 0);
  }

  #brand-button:active {
    background-color: rgb(219, 58, 0);
  }
}
