.header-button {
  color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  padding: 0 1vw;
}

.header-button > i {
  padding-right: 0.5vw;
}

.header-top .header-button:hover {
  background-color: rgb(219, 58, 0);
}

.header-top .header-button:active {
  background-color: rgb(255, 69, 0);
}

.mobile-menu-buttons .header-button:active {
  background-color: rgb(255, 69, 0);
}

@media (max-width: 640px) {
  .header-button {
    padding: 0 3vw;
    justify-content: center;
  }

  .header-button > i {
    padding-right: 1.5vw;
  }

  .header-top .header-button:hover {
    background-color: rgb(255, 69, 0);
  }

  .header-top .header-button:active {
    background-color: rgb(219, 58, 0);
  }
}
