/* each button */
.header-button {
  color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  padding: 0 1vw;
}

/* every i tag child of a header button */
.header-button > i {
  padding-right: 0.5vw;
}

/* header buttons on top header bar, excluding hamburger button */
/* darken when hovered over */
.header-top .header-button:hover {
  background-color: rgb(219, 58, 0);
}

/* header buttons on top header bar, excluding hamburger button */
/* will be dark from hovering, then will lighten again on click */
.header-top .header-button:active {
  background-color: rgb(255, 69, 0);
}

@media (max-width: 640px) {
  /* all header buttons but because of more specific selector below, 'padding' will just target brand-button */
  /* increase padding because the header padding has been removed from each side */
  .header-button {
    padding: 0 3vw;
    justify-content: center;
  }
  /* every i tag child of a header button */
  /* use more spacing in mobile version b/c screen is smaller */
  .header-button > i {
    padding-right: 2vw;
  }

  /* dropdown menu buttons */
  /* will be smaller than desktop buttons */
  /* width < 100vw will allow buttons to be pushed to the right side of screen */
  .mobile-menu-buttons .header-button {
    padding: 0;
    width: 50vw;
    height: 5vh;
  }

  /* dropdown menu buttons */
  /* will initially be dark, will lighten on click */
  .mobile-menu-buttons .header-button:active {
    background-color: rgb(255, 69, 0);
  }

  /* brand button - to change color on click and revert back */
  .header-top .header-button:hover {
    background-color: rgb(255, 69, 0);
  }

  /* brand button - to change color on click and revert back */
  .header-top .header-button:active {
    background-color: rgb(219, 58, 0);
  }
}
